.feed {
  width: 90%;
  margin-left: 5%;
  font-size: 100%;
  margin-top: 10px;
}

.datetime {
  width: 6%;
  color: #51a351;
  font-weight: bold;
}

.build {
  width: 7%;
  color: #f89406;
  font-weight: bold;
}

.summary {
  width: 60%;
  font-weight: bold;
}

.test_config {
  width: 20%;
  text-align: right;
  font-weight: bold;
}

.cluster {
  width: 7%;
  font-weight: bold;
  text-align: right;
}

a.test_config:hover {
  color: #000;
}

.spec, .config {
  color: #285e8e;
}

a.spec:hover {
  color: #285e8e;
}

.record {
  width: 66.6%;
  margin-left: 16.7%;
  font-size: 100%;
  margin-top: 5px;
}

.changes {
  width: 100%;
  color: #777;
}

.change {
  margin-top: 5px;
  margin-left: 100px;
}

.prev_build {
  font-weight: bold;
  color: #777;
}

a.prev_build:hover {
  color: #777;
}

.hr {
  width: 90%;
  margin-left: 5%;
  margin-top: 5px;
  margin-bottom: 0px;
}

.date {
  font-size: 121%;
  width: 100%;
  color: #d2322d;
  font-weight: bold;
  text-align: center;
}