.feed {
  width: 80%;
  margin-left: 10%;
  font-size: 100%;
  margin-top: 10px;
}

.datetime {
  width: 15%;
  color: #51a351;
  font-weight: bold;
}

.build {
  width: 8%;
  color: #f89406;
  font-weight: bold;
}

.summary {
  width: 69%;
  font-weight: bold;
}

.cluster {
  width: 8%;
  color: #285e8e;
  font-weight: bold;
  text-align: right;
}

.record {
  width: 80%;
  margin-left: 10%;
  font-size: 100%;
  margin-top: 5px;
}

.changes {
  width: 100%;
  color: #777;
}

.change {
  margin-top: 5px;
  margin-left: 100px;
}

.prev_build {
  font-weight: bold;
  color: #777;
}

a.prev_build:hover {
  color: #777;
}

.hr {
  width: 80%;
  margin-left: 10%;
  margin-top: 0px;
  margin-bottom: 0px;
}