a, a:hover, a:visited {
	color: #333;
}

.container {
    width: 90%;
}

.column-chart {
    height: 90px;
}

.nvd3 text {
    font-size: 11px;
}

.bar-chart {
    height: 100px;
    margin: 0px;
}

.nv-series {
	display: none;
}

hr {
	margin: 0;
}

.btn-group {
	margin-bottom: 10px;
}

.buildy {
	margin-bottom: 10px;
	margin-left: 20px;
}

.buildy a {
	text-decoration: none;
}

.error_msg {
	margin-top: 50px;
}

.icon-remove:hover {
    cursor: pointer;
}

.t-all-runs {
    width: 80%;
    margin-left: 10%;
}

.t-data {
    font-size: 85%;
}

.t-seq {
    width: 4%;
    text-align: center;
}

.t-report {
    width: 24%;
    text-align: center;
}

.links {
    font-size: 93%;
    margin-bottom: -20px;
}
