a, a:hover, a:visited {
	color: #333;
}

.column-chart {
    height: 100px;
}

.bar-chart {
    height: 100px;
    margin: 0px;
}

.nv-series {
	display: none;
}

hr {
	margin: 0;
}

.btn-group {
	margin-bottom: 10px;
}

.buildy {
	margin-bottom: 10px;
	margin-left: 20px;
}

.buildy a {
	text-decoration: none;
}

.error_msg {
	margin-top: 50px;
}

.t-inventory {
    width: 90%;
    margin-left: 5%;
}

.t-data {
    font-size: 93%;
}

.t-id {
    text-align: left;
    width: 25%;
}

.t-metric {
	text-align: left;
    width: 40%;
}

.t-build {
	text-align: center;
    width: 15%;
}

.t-value {
	text-align: center;
    width: 15%;
}

.t-buttons {
    width: 5%;
    text-align: center;
}

.icon-remove:hover {
    cursor: pointer;
}

.t-all-runs {
    width: 50%;
    margin-left: 25%;
}

.t-seq {
    width: 15%;
    text-align: center;
}

.t-value {
    text-align: center;
    width: 60%;
}

.t-report {
    width: 25%;
    text-align: center;
}
