<div class="masthead text-center">
	<h2>All test runs</h2>
	<table class="table-striped table-bordered table-condensed t-all-runs t-data">
		<thead>
			<tr>
				<th class="t-seq">#</th>
				<th class="t-report">Date and time</th>
				<th class="t-report">Value</th>
				<th class="t-report">HTML reports</th>
				<th class="t-report">Jenkins build</th>
				<th class="t-report">Rebalance flows</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="run in runs | orderBy:'datetime'">
				<td class="t-seq">
					{{$index+1}}
				</td>

				<td class="t-report">
					{{run.datetime}}
				</td>

				<td class="t-report">
					{{run.value}}
				</td>

				<td class="t-report">
					<a ng-repeat="snapshot in run.snapshots"
						href="http://cbmonitor.sc.couchbase.com/reports/html/?snapshot={{snapshot}}"
						target="_blank">
							<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
					</a>
				</td>

				<td class="t-report">
					<a href="{{ run.build_url }}"
						target="_blank">
						<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
					</a>
				</td>

				<td class="t-report">
					<a ng-if="run.master_events"
						href="http://cbmonitor.sc.couchbase.com/reports/movements/?filename={{run.master_events}}"
						target="_blank">
						<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
