a, a:hover {
	color: #333;
}

.column-chart {
    height: 160px;
}

.bar-chart {
    height: 100px;
    margin: 0px;
}

.nv-series {
	display: none;
}

hr {
	margin: 0;
}

.btn-group {
	margin-bottom: 10px;
}

.buildy {
	margin-bottom: 10px;
	margin-left: 20px;
}

.buildy a {
	text-decoration: none;
}

.metric {
	visibility: hidden;
}