<html ng-app="sf-admin">

<head>
	<title>ShowFast</title>
	<link rel="stylesheet" href="/css/vendor/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/admin.css" />

	<script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
	<script type="text/javascript" src="/js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/vendor/angular.min.js"></script>
	<script type="text/javascript" src="/js/controller.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
</head>

<body ng-controller="AdminList">
	<div class="masthead text-center">
		<h2>Administration</h2>

		<div class="text-center">
			<div class="btn-group" data-toggle="buttons">
				<label
					ng-repeat="(id, title) in components"
					ng-class="{active: id === activeComponent}"
					ng-click="setActiveComponent(id)"
					class="btn btn-success">
					<input type="radio">{{title}}
				</label>
			</div>
		</div>

		<div>
			<table class="table-striped table-bordered table-condensed t-inventory">
				<colgroup>
					<col span="1" style="width: 22%;">
					<col span="1" style="width: 43%;">
					<col span="1" style="width: 17%;">
					<col span="1" style="width: 8%;">
					<col span="1" style="width: 7%;">
					<col span="1" style="width: 3%;">
				</colgroup>

				<thead class="t-header">
					<tr>
						<th>ID</th>
						<th>Metric</th>
						<th class="col-center">Build</th>
						<th class="col-center">Value</th>
						<th class="col-center">Hidden</th>
						<th></th>
					</tr>
				</thead>

				<tbody class="t-data">
					<tr ng-repeat="benchmark in benchmarks | filter:byComponent">
						<td>{{benchmark.id}}</td>
						<td>{{benchmark.metric}}</td>
						<td class="col-center">{{benchmark.build}}</td>
						<td class="col-center">{{benchmark.value}}</td>
						<td class="col-center">
							<input ng-click="reverseHidden(benchmark.id)" type="checkbox" checked ng-if="benchmark.hidden">
							<input ng-click="reverseHidden(benchmark.id)" type="checkbox" ng-if="!benchmark.hidden">
						</td>
						<td class="col-center">
							<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="deleteBenchmark(benchmark)"></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>
