<html>
<head>
  <title>ShowFast</title>
  <link rel="stylesheet" href="/css/vendor/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/feed.css" />
  <script type="text/javascript" src="/js/vendor/jquery-2.0.2.min.js"></script>
  <script type="text/javascript" src="/js/vendor/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/vendor/angular.js"></script>
  <script type="text/javascript" src="/js/vendor/angular-route.js"></script>
  <script type="text/javascript" src="/js/controller.js"></script>
</head>
<body ng-app ng-controller="Feed">
  <div class="masthead text-center">
    <h2>Performance feed</h2>
    <div ng-repeat="(id, record) in records">
      <table class="feed" ng-if="records[id - 1].datetime.split(' ')[0] !== record.datetime.split(' ')[0]">
        <tr>
          <td class="date">
            {{record.datetime.split(' ')[0]}}
          </td>
        </tr>
      </table>
      <hr class="hr">
      <table class="feed">
        <tr>
          <td class="datetime">{{record.datetime.split(" ")[1]}}</td>
          <td class="build">{{record.build}}</td>
          <td class="summary">
              {{record.summary}}
          </td>
          <td class="test_config">
            <a class="config" target="_blank" href="https://raw.github.com/thomas-couchbase/perfrunner/master/tests/{{record.test_config}}.test">
              {{record.test_config}}
            </a>
          </td>
          <td class="cluster">
            <a class="spec" target="_blank" href="https://raw.github.com/thomas-couchbase/perfrunner/master/clusters/{{record.cluster}}.spec">
              {{record.cluster}}
            </a>
          </td>
        </tr>
      </table>
      <table class="record">
        <tr ng-repeat="(i, changes) in record.changes">
          <td class="changes">
            Changed from <a class="prev_build" target="_blank" href="{{record.reports[i][1]}}">{{changes[0]}}</a>:
            <p class="change" ng-repeat="change in changes[1]">{{change}}</p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>
