<html>
<head>
	<title>ShowFast</title>
	<link rel="stylesheet" href="/css/vendor/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/main.css"/>
	<script type="text/javascript" src="/js/vendor/jquery-2.0.2.min.js"></script>
	<script type="text/javascript" src="/js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/vendor/angular.js"></script>
	<script type="text/javascript" src="/js/vendor/angular-route.js"></script>
	<script type="text/javascript" src="/js/controller.js"></script>
</head>
<body ng-app ng-controller="ReleaseList">
	<div class="text-center">
		<h2>Release dashboard</h3>
		<div class="btn-group" data-toggle="buttons-radio">
			<button
				ng-repeat="baseline in baselines"
				ng-class="{active: baseline == selectedBaseline}"
				ng-click="setSelectedBaseline(baseline)"
				class="btn btn-success">{{baseline}}</button>
		</div>
		<span class="vs"><b>&nbsp;vs.&nbsp;</b></span>
		<div class="btn-group" data-toggle="buttons-radio">
			<button
				ng-repeat="target in targets"
				ng-class="{active: target == selectedTarget}"
				ng-click="setSelectedTarget(target)"
				class="btn btn-warning">{{target}}</button>
		</div>
		<table class="table-striped table-bordered table-condensed t-release">
			<tr>
				<th class="t-data t-r-metric">Metric</th>
				<th class="t-data t-comparison">Comparison</th>
				<th class="t-data t-baseline">Baseline Build</th>
				<th class="t-data t-target">Target Build</th>
			</tr>
			<tr ng-repeat="metric in metrics">
				<td class="t-data t-r-metric">
					<span class="metric-descr"><b>{{metric.title}}</b><span><br>
					<span class="metric-cluster">{{metric.cluster.OS}}<span>
				</td>
				<td class="t-data t-comparison {{metric.class}}">{{metric.comparison}}</td>
				<td class="t-data t-baseline">{{metric.baseline}}</td>
				<td class="t-data t-target">{{metric.target}}</td>
			</tr>
		</table>
	</div>
</div>
</body>
</html>
