<html ng-app="sf-release">

<head>
	<title>ShowFast</title>
	<link rel="stylesheet" href="/css/vendor/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/release.css" />

	<script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
	<script type="text/javascript" src="/js/vendor/jquery.cookie.min.js"></script>
	<script type="text/javascript" src="/js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/vendor/angular.min.js"></script>
	<script type="text/javascript" src="/js/controller.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
</head>

<body ng-controller="ReleaseList">
	<div class="text-center">
		<h2>Release dashboard</h2>

		<div class="btn-group" data-toggle="buttons">
			<label
				ng-repeat="baseline in baselines"
				ng-class="{active: baseline == selectedBaseline}"
				ng-click="setSelectedBaseline(baseline)"
				class="btn btn-success">
				<input type="radio">{{baseline}}
			</label>
		</div>
		<div class="vs">
			<strong>vs</strong>
		</div>
		<div class="btn-group" data-toggle="buttons">
			<label
				ng-repeat="target in targets"
				ng-class="{active: target == selectedTarget}"
				ng-click="setSelectedTarget(target)"
				class="btn btn-warning">
				<input type="radio">{{target}}
			</label>
		</div>

		<table class="table-striped table-bordered table-condensed t-release t-data">
			<thead>
				<tr>
					<th class="t-metric">Metric</th>
					<th class="t-comparison">Comparison</th>
					<th class="t-baseline">Baseline Build</th>
					<th class="t-target">Target Build</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="metric in metrics">
					<td class="t-metric">
						<span class="metric-descr"><b>{{metric.title}}</b></span>
						<br>
						<span class="metric-cluster">{{metric.cluster.OS}} / {{metric.cluster.Disk}}</span>
					</td>
					<td class="t-comparison {{metric.class}}">{{metric.comparison}}</td>
					<td class="t-baseline">{{metric.baseline}}</td>
					<td class="t-target">{{metric.target}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>
