<html>
{{{head}}}
<body>
	<table class="table-striped table-bordered table-condensed t-inventory">
	<tr>
		<div class="masthead text-center">
			<h2>Administration</h3>
		</div>
		<th class="t-data t-metric">Metric</th>
		<th class="t-data t-build">Build</th>
		<th class="t-data t-value">Value</th>
		<th class="t-data t-buttons"></th>
	</tr>
	{{{content}}}
</body>
<script>
	$(".icon-remove").click(function() {
		$.ajax({url: "/delete", type: "POST", data: {"id": this.id}
		}).done(function() {
			location.reload();
		});
    });
</script>
</html>
