<html>
{{{head}}}
<body>
	<div class="masthead text-center">
		<h2>All Runs</h3>
		<table class="table-striped table-bordered table-condensed t-all-runs">
			<tr>
				<th class="t-data t-seq">#</th>
				<th class="t-data t-value">Value</th>
				<th class="t-data t-report">HTML report</th>
			</tr>
			{{{content}}}
		<table>
	</div>
</body>
</html>
