<div id="{{id}}">
	<svg class="bar-chart"></svg>
</div>
<script type="text/javascript">
	var SHOWFAST = SHOWFAST || {};

	SHOWFAST.addChart = function(id, data) {
	    "use strict";

	    nv.addGraph(function() {
	        var chart = nv.models.multiBarHorizontalChart()
	            .x(function(d) { return d[0]; })
	            .y(function(d) { return d[1]; })
	            .showValues(true)
	            .tooltips(false)
	            .showControls(false)
	            .valueFormat(d3.format(','))
	            .color(["#50aa43"])
	            .margin({top: 0, right: 0, bottom: 10, left: 70});

	        chart.yAxis.tickFormat(function(d) {return ""});
	        d3.select("#" + id + " svg")
	            .datum(data)
	            .call(chart);

	        return chart;
	    });
	};

	var builds = window.location.pathname.slice(9);

	$.ajax({url: "/b2b?metric={{id}}&builds=" + builds, dataType: "json",
		success: function(data) {
			var chart_data = [{values: data}];
			SHOWFAST.addChart("{{id}}", chart_data);
		}
	});
</script>
