<a target="_blank" href="http://builder.hq.couchbase.com/#/compare/couchbase-server-enterprise_x86_64_{{build1}}-rel.rpm/couchbase-server-enterprise_x86_64_{{build2}}-rel.rpm">
	<button class="btn btn-warning buildy">Compare code changes</button>
</a>