<html>
<head>
	<title>ShowFast</title>
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/nv.d3.css" />
	<script type="text/javascript" src="js/jquery-2.0.2.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/d3.v2.js"></script>
	<script type="text/javascript" src="js/nv.d3.js"></script>
	<script type="text/javascript" src="js/chart.js"></script>
</head>
<body>
	<div class="container">
		<div class="masthead">
			<h2>Performance Dashboard</h3>
		</div>
		{{{content}}}
	</div>
</body>
</html>
