<div class="masthead metric" id="cont_{{id}}">
	<hr/>
	<h4><a id="{{id}}" href="#{{id}}" data-larger-is-better="{{larger_is_better}}">{{title}}</a></h5>
	<span class="muted"><strong>Cluster: </strong>{{Cluster}}</span>
	<span class="muted"><strong>Platform: </strong>{{Platform}}</span>
	<span class="muted"><strong>OS: </strong>{{OS}}</span>
	<span class="muted"><strong>CPU: </strong>{{CPU}}</span>
	<span class="muted"><strong>Memory: </strong>{{Memory}}</span>
	<span class="muted"><strong>Disk: </strong>{{Disk}}</span>
	{{{chart}}}
</div>
