<div class="masthead">
	<hr/>
	<h4>{{title}}</h5>
	<span class="muted"><strong>Cluster: </strong>{{cluster}}</span>
	<span class="muted"><strong>Platform: </strong>{{platform}}</span>
	<span class="muted"><strong>OS: </strong>{{os}}</span>
	<span class="muted"><strong>CPU: </strong>{{cpu}}</span>
	<span class="muted"><strong>Memory: </strong>{{memory}}</span>
	<span class="muted"><strong>Disk: </strong>{{disk}}</span>
	{{{chart}}}
</div>
