<div class="masthead metric" id="cont_{{id}}">
	<hr/>
	<h4><a id="{{id}}" href="#{{id}}" data-larger-is-better="{{larger_is_better}}">{{title}}</a></h5>
	<span class="muted"><strong>Cluster: </strong>{{cluster}}</span>
	<span class="muted"><strong>Platform: </strong>{{platform}}</span>
	<span class="muted"><strong>OS: </strong>{{os}}</span>
	<span class="muted"><strong>CPU: </strong>{{cpu}}</span>
	<span class="muted"><strong>Memory: </strong>{{memory}}</span>
	<span class="muted"><strong>Disk: </strong>{{disk}}</span>
	{{{chart}}}
</div>
