<tr>
	<td class="t-data t-seq">{{seq}}</th>
	<td class="t-data t-value">{{value}}</th>
	<td class="t-data t-report">
		{{#report}}
			<a href="{{report}}" target="_blank"><i class="icon-file"></i></a>
		{{/report}}
	</th>
</tr>
